body {
  text-align: center;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: rgb(11, 47, 77);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-display {
  background-color: rgb(20, 79, 128);
  box-sizing: border-box;
  border-radius: 10px;
  margin : 20px 0;
  width: 400px ;
  height: 200px;
  display: flex;
}